.card {
  display: flex;
  padding: 1rem;
  border: 1px solid #ddd;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}


.card-image {
  width: 6rem;
  height: 6rem;
  margin-right: 1rem;
}