.navigator {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.navigator::after {
  content: '';
  background: url('../assets/bg1.jpeg');
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 30% 40%;
  background-attachment: fixed;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
