.navbar {
  height: 10vh;
  background-color: rgba(200,200,200,0.5);
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100vw;
  color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
}